<ion-view title="Acitive Membership" id="page2">
    <ion-content padding="true" class="has-header">
      <form novalidate name="activemembershipform">
          <div class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label" style="color:#000"><span style="color:red">*</span>Father/Spouse Name</span>
                <input type="text" placeholder="Enter your Name" style="color:#000;background:none !important;" ng-model="rg.f_s_name" text-only name="f_s_name" ng-minlength="2" required>
            </label>
           
            <label class="item item-input item-stacked-label">
                <span class="input-label" style="color:#000"><span style="color:red">*</span>DOB</span>
                <input type="date" style="color:#000;background:none !important;"
                max="{{date | date:'yyyy-MM-dd'}}" ng-model="rg.dob"  required  >
        
            </label>
            <label class="item item-input item-select">
                <span class="input-label" style="color:#000"><span style="color:red">*</span>Education</span>

                <select ng-model="rg.education" name="education" style="color:#000;background:none !important;" required>
                    <option value="">Select</option>
                    <option ng-repeat="list in educationsList" value="{{list.name}}">{{list.name}}</option>


                </select>
            </label>
            <label class="item item-input item-select">
                <span class="input-label" style="color:#000"><span style="color:red">*</span>Caste</span>

                <select ng-model="rg.caste" name="caste" style="color:#000;background:none !important;" required>
                    <option value="">Select</option>
                    <option ng-repeat="list in casts" value="{{list.id}}">{{list.name}}</option>


                </select>
            </label>
             <label class="item item-input item-stacked-label">
                    <span class="input-label" style="color:#000"><span style="color:red">*</span>Door No</span>

                     <input type="text" style="color:#000;background:none !important;" placeholder="Enter Door Number" ng-model="rg.doorno" name="doorno"  >
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label" style="color:#000"><span style="color:red">*</span>Street</span>

                     <input type="text" style="color:#000;background:none !important;" placeholder="Enter Street"  ng-model="rg.street" name="street"  >
                </label>
            <label class="item item-input item-select">
                <span class="input-label" style="color:#000"><span style="color:red">*</span>Member Since</span>

                <select ng-model="rg.member_since" name="member_since" style="color:#000;background:none !important;" required>
                    <option value="">Select</option>
                    <option value="1980 before">1980 before</option>
                    <option ng-repeat="list in membersincelist" value="{{list}}"> {{list}}</option>


                </select>
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label" style="color:#000"><span style="color:red">*</span>PIN Code</span>

                 <input type="tel" style="color:#000;background:none !important;" placeholder="Enter 6 digit PIN Code"  ng-model="rg.pincode" name="pincode" min-length="0" maxlength="6" ng-pattern="pinFormat">
                 <span ng-show="activemembershipform.pincode.$error.pattern"><p style="color:red">Please enter a valid Pincode</p></span>
            </label>
            <label class="item item-input item-stacked-label ">
                <span class="input-label" style="color:#000;margin-top: -50px;"><span style="color:red">*</span>Upload Photo</span>
                <input type="file" ng-model="user.Upload" id="file"  name="file" accept="image/*" ng-model-instant onchange="angular.element(this).scope().imageUpload(event)" ng-required="!selectImage" / >

                <!--<input type="file" ng-model="user.imagepath" accept="image/*" />-->
            </label>

            <label class="item item-input item-stacked-label " ng-if="selectImage">
                <span class="input-label" style="color:#000;margin-top: -50px;"><span style="color:red">*</span>Photo</span>

                <img class="thumb pull-right" src="{{stepsModel}}">

                <!--<input type="file" ng-model="user.imagepath" accept="image/*" />-->
            </label>
                  <label class="item item-input item-stacked-label item-text-wrap" style="color:#235801 !important;font-size:14px;user-select: text;-webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: text;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;">Bank Details: Name: Bharatiya Janata Party- Andhra Pradesh,Bank Name: Andhra BANK, Branch: Krishna Lanka-VIJAYAWADA<strong> Bank A/C No: 032211100001644,IFS Code: ANDB0000322</strong> </label>
        
            <label class="item item-input item-stacked-label">
                <span class="input-label" style="color:#000">Transaction Number</span>
                <input type="text" placeholder="Enter Transaction Number" style="color:#000;background:none !important;" ng-model="rg.transaction_number" name="transaction_number" >
            </label>
            

            <label class="item item-input item-stacked-label ">
                <span class="input-label" style="color:#000;margin-top: -50px;">Receipt Image</span>
                <input type="file" ng-model="user.Upload" id="receiptimage"  name="receiptimage" accept="image/*" ng-model-instant onchange="angular.element(this).scope().receiptImage(event)" />

                <!--<input type="file" ng-model="user.imagepath" accept="image/*" />-->
            </label>

            <label class="item item-input item-stacked-label " ng-if="selectReceiptImage">
                <span class="input-label" style="color:#000;margin-top: -50px;">Receipt</span>

                <img class="thumb pull-right" src="{{receiptimage}}">

                <!--<input type="file" ng-model="user.imagepath" accept="image/*" />-->
            </label>
            
              
             
            <button  style="border-radius:5px 5px 5px 5px;background:#43ae0b  !important" class="button button-energized button-block" ng-disabled="activemembershipform.$invalid"  ng-click="submit(rg)">Submit</button>
        </div>
        </form>
        <style>
        .thumb {
                border: 1px solid #e85177;
                box-shadow: 0px 0px 5px #808080;
                width: 60px;
                height: 60px;
            }
        </style>
  
    </ion-content>
  </ion-view>   