<ion-view title="Change Mobile Number" cache-view="false" id="page1" style="color:#fff !important;">
   
    <ion-content padding="true" class="has-header">

        <div class="card">
        <div class="item item-divider" style="background:#e25408 !important; color:#fff !important">
            Your Existing Details
        </div>
        <div class="item item-text-wrap">
            <div class="row">
                <div class="col col-60"> Mobile Number</div>
                <div class="col col-60"><strong>{{user.mobile_number}}</strong></div>
            </div>
            <div class="row">
                <div class="col col-60">Membership ID </div>
                <div class="col col-60"><strong>{{user.membership_id}}</strong> </div>
            </div>
            
           
        </div>
        
        </div>
        
        <form novalidate name="MemberRegistration">
            <div class="list">
                <label class="item item-input item-stacked-label">
                    <span class="input-label" style="color:#000"><span style="color:red">*</span>New Mobile Number</span>

                    <input type="tel" style="color:#000;background:none !important;" placeholder="Mobile number" maxlength="10" ng-minlength="10" numbers-only ng-model="rg.mobileNumber" name="mobileNumber" ng-change="editMembershipID('mobile')" required>
                </label>
                <span ng-show="MemberRegistration.mobileNumber.$touched && MemberRegistration.mobileNumber.$invalid" style="color:darkred">10 digit Mobile No required.</span>
                <label class="item item-input item-stacked-label" >
                    <span class="input-label" style="color:#000"><span style="color:red">*</span>Confirm Mobile Number</span>

                    <input type="tel" style="color:#000;background:none !important;" placeholder="Re-enter above Mobile number" maxlength="10" ng-minlength="10" numbers-only ng-model="rg.confirm_mobile_number" name="confirm_mobile_number" required>
                </label>
                <p ng-show="MemberRegistration.confirm_mobile_number.$touched && MemberRegistration.confirm_mobile_number.$invalid" style="color:darkred">10 digit Mobile No required.</p>
                <p style="color:red" ng-show="rg.mobileNumber !== rg.confirm_mobile_number">Mobile Number mismatch</p>

                <label class="item item-input item-stacked-label item-text-wrap" style="color:#235801 !important;font-size:14px;">To change Mobile No, get New Membership ID, Please dial Toll Free No <strong><button  class="button" style="border:none;padding:0px; background:none;line-height:0px;min-width: 0px;
    min-height: 19px;color:#07C;font-weight:bold;" ng-click="callNumber(18002661001)">18002661001</button></strong> </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label" style="color:#000"><span style="color:red">*</span>Membership ID</span>
                    <input type="tel" style="color:#000;background:none !important;" placeholder="10 digit Membership number" maxlength="10" ng-minlength="10" ng-model="rg.membershipID" name="membershipID" numbers-only required ng-change="editMembershipID('member')">
                </label>

                <span ng-show="MemberRegistration.membershipID.$touched && MemberRegistration.membershipID.$invalid" style="color:darkred">10 digit Membership ID required.</span>
                <label class="item item-input item-stacked-label" >
                    <span class="input-label" style="color:#000"><span style="color:red">*</span>Confirm Membership ID</span>
                    <input type="tel" style="color:#000;background:none !important;" placeholder="Re-enter above Membership number" maxlength="10" ng-minlength="10" numbers-only ng-model="rg.confirmmembershipID" required name="confirmmembershipID" ng-style="myStyle">
                </label>

                <p ng-show="MemberRegistration.confirmmembershipID.$touched && MemberRegistration.confirmmembershipID.$invalid  " style="color:darkred">10 digit Membership ID required.</p>

                <p  style="color:red" ng-show="rg.membershipID !== rg.confirmmembershipID">Membership ID mismatch</p>
                
                <button id="registration-button1" style="border-radius:5px 5px 5px 5px;background:#43ae0b  !important" class="button button-energized button-block" ng-disabled="!(MemberRegistration.$valid)" ng-click="changeMobileNumber(rg)">Update</button>


            </div>
        </form>

        <style>
            .thumb {
                border: 1px solid #e85177;
                box-shadow: 0px 0px 5px #808080;
                width: 60px;
                height: 60px;
            }
        </style>
    </ion-content>
</ion-view>