<ion-view title="Event Feedback" id="page2">
  <ion-content padding="true" class="has-header">
    <form novalidate name="eventattendance">
      <div class="list">
          <label class="item item-input">
            <span class="input-label" style="color:#000">Event Name</span>
              <span style="float:right;position: absolute;right: 5px;">{{eventname |limitTo : 20}} </span>
              <!--<select disabled ng-model="rg.eid" name="eid" style="color:#000;background:none !important;" required>

                  <option ng-repeat="list in flashnews" value="{{list.id}}" > {{list.name}}</option>
                 


              </select>-->
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label" style="color:#000"><span style="color:red">*</span>Subject</span>
            <input type="text" placeholder="Enter your Name" style="color:#000;background:none !important;" ng-model="rg.subject" text-only name="subject" required>
        </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label" style="color:#000"><span style="color:red">*</span>Feedback/Suggestion</span>
            <textarea rows="6" ng-model="rg.description" placeholder="Enter your Feedback/Suggestion" text-only required></textarea>
        </label>
        <button id="registration-button1" style="border-radius:5px 5px 5px 5px;background:#43ae0b  !important" class="button button-energized button-block" ng-disabled="eventattendance.$invalid"  ng-click="submit(rg)">Submit</button>
    </div>
    </form>

  </ion-content>
</ion-view>