<ion-view title="Event Attendance" id="page22">
  <ion-content padding="true" class="has-header">
   <form novalidate name="eventattendance">
        <div class="list">
            <label class="item item-input ">
                <span class="input-label" style="color:#000">Event Name</span>
                <span style="float:right;position: absolute;right: 5px;" >{{eventname |limitTo : 20}} </span>
                <!--<select disabled ng-model="eid" name="eid" style="color:#000;background:none !important;" required>
                    position: absolute;
    right: 5px;
                    <option ng-repeat="list in flashnews" value="{{list.id}}" > {{list.name}}</option>
                   


                </select>-->
            </label>

            
            <button ng-click="scan()" class="button button-full button-energized" style="/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#8be41b+0,4faa0b+100 */
            background: #8be41b !important; /* Old browsers */
            background: -moz-linear-gradient(top, #8be41b 0%, #4faa0b 100%) !important; /* FF3.6-15 */
            background: -webkit-linear-gradient(top, #8be41b 0%,#4faa0b 100%) !important; /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, #8be41b 0%,#4faa0b 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8be41b', endColorstr='#4faa0b',GradientType=0 ) !important; /* IE6-9 */ border-bottom:2px solid #406f05; color:#fff; font-weight:600;">
                      <i class="icon ion-qr-scanner text-left" style="float:left;"></i> Scan
                  </button>
                  <div ng-if="scandetails">
                  <label class="item item-input item-stacked-label">
                    <span class="input-label" style="color:#000">Name</span>
                    <input type="text" placeholder="Enter your Name" style="color:#000;background:none !important;" ng-model="rg.name" text-only name="name" ng-minlength="2" required>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label" style="color:#000">Membership ID</span>
                    <input type="text" placeholder="Enter your Name" style="color:#000;background:none !important;" ng-model="rg.membershipid" text-only name="membershipid" ng-minlength="2" required>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label" style="color:#000">Mobile Number</span>
                    <input type="text" placeholder="Enter your Name" style="color:#000;background:none !important;" ng-model="rg.mobilenumber" text-only name="mobilenumber" ng-minlength="2" required>
                </label>
                <!-- <label class="item item-input item-stacked-label">
                    <span class="input-label" style="color:#000">Address</span>
                    <input type="text" placeholder="Enter your Name" style="color:#000;background:none !important;" ng-model="rg.address" text-only name="address" ng-minlength="2" required>
                </label> -->
                <label class="item item-input item-stacked-label">
                    <span class="input-label" style="color:#000">Age</span>
                    <input type="text" placeholder="Enter your Name" style="color:#000;background:none !important;" ng-model="rg.age" text-only name="age" ng-minlength="2" required>
                </label>
            <button id="registration-button1" style="border-radius:5px 5px 5px 5px;background:#43ae0b  !important" class="button button-energized button-block" ng-disabled="MemberRegistration.$invalid" ng-click="submit(rg)">Submit</button>
          </div>

        </div>
    </form>
      <style>
         

      </style>
  </ion-content>
</ion-view>