<ion-view title="Upload Images" id="page2">
  <ion-content padding="true" class="has-header">
    <form novalidate name="eventattendance">
        <div class="list">
            <label class="item item-input">
                <span class="input-label" style="color:#000">Event Name</span>
                <span style="float:right;position: absolute;right: 5px;">{{eventname |limitTo : 20}} </span>
                <!--<select disabled ng-model="eid" name="eid" style="color:#000;background:none !important;" required>
  
                    <option ng-repeat="list in flashnews" value="{{list.id}}" > {{list.name}}</option>
                   
  
  
                </select>-->
            </label>
            
            <label class="item item-input item-stacked-label ">
                <span class="input-label" style="color:#000;margin-top: -50px;">Upload Photos</span>
                <input type="file" ng-file-model="files" name="file" id="file" multiple="multiple" accept="image/jpeg,image/png" required/>

             
            </label>
            
           
          <button  style="border-radius:5px 5px 5px 5px;background:#43ae0b  !important" class="button button-energized button-block" ng-disabled="eventattendance.$invalid"  ng-click="submit()">Submit</button>
      </div>
      </form>

  </ion-content>
</ion-view>