<ion-view title="Events" id="page2" >
  <ion-content padding="true" class="has-header">
      <div ng-if="flashnews.length>0">
          <div class="card" ng-repeat="list in flashnews" ng-click="getAttendance(list)">
              <div class="item item-text-wrap">
                  <h3 style="color: #ff7d0a;"><i class="icon ion-clock"></i> {{list.name}}</h3>
                  <p style="color:#000">{{list.description}}</p>

                  <small class="pull-right" style="position:absolute;font-size:10px; right:10px; font-weight:600; bottom:3px; color:#808080"><i class="icon ion-calendar"></i> {{list.created_at}}</small>
              </div>
          </div>
      </div>
      <div class="card" ng-if="flashnews.length==0" >
          <div class="item item-text-wrap">
              
          </div>
      </div>

  </ion-content>
</ion-view>