<ion-view title="Welcome to AP BJP" id="page3" style="background: url('img/bg.png') no-repeat center;background-size:cover;" >
  <ion-content padding="true" class="has-header">
      <button class="button button-full button-energized" ng-click="addMember()" style="/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#8be41b+0,4faa0b+100 */
background: #8be41b !important; /* Old browsers */
background: -moz-linear-gradient(top, #8be41b 0%, #4faa0b 100%) !important; /* FF3.6-15 */
background: -webkit-linear-gradient(top, #8be41b 0%,#4faa0b 100%) !important; /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #8be41b 0%,#4faa0b 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8be41b', endColorstr='#4faa0b',GradientType=0 ) !important; /* IE6-9 */ border-bottom:2px solid #406f05; color:#fff; font-weight:600;">
        <i class="icon ion-person-add text-left" style="float:left;" ></i>Join Booth Committee
      </button>
      <button class="button button-full button-energized" ng-click="login()" style="/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#8be41b+0,4faa0b+100 */
background: #8be41b !important; /* Old browsers */
background: -moz-linear-gradient(top, #8be41b 0%, #4faa0b 100%) !important; /* FF3.6-15 */
background: -webkit-linear-gradient(top, #8be41b 0%,#4faa0b 100%) !important; /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #8be41b 0%,#4faa0b 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8be41b', endColorstr='#4faa0b',GradientType=0 ) !important; /* IE6-9 */ border-bottom:2px solid #406f05; color:#fff; font-weight:600;">
          <i class="icon ion-android-contacts text-left" style="float:left;"></i>Member Login
      </button>
      <!-- <button ng-click="getNews()" class="button button-full button-energized" style="/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#8be41b+0,4faa0b+100 */ -->
<!-- background: #8be41b !important; /* Old browsers */ -->
<!-- background: -moz-linear-gradient(top, #8be41b 0%, #4faa0b 100%) !important; /* FF3.6-15 */ -->
<!-- background: -webkit-linear-gradient(top, #8be41b 0%,#4faa0b 100%) !important; /* Chrome10-25,Safari5.1-6 */ -->
<!-- background: linear-gradient(to bottom, #8be41b 0%,#4faa0b 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ -->
<!-- filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8be41b', endColorstr='#4faa0b',GradientType=0 ) !important; /* IE6-9 */ border-bottom:2px solid #406f05; color:#fff; font-weight:600;"> -->
          <!-- <i class="icon ion-ios-paper text-left" style="float:left;" ></i> News -->
      <!-- </button> -->

  </ion-content>

    <div class="bar bar-footer bar-stable bar-stable1">
        <p style="text-align:center !important;    font-size: 12px; color:#fff !important;" class="title"><span style="position:relative;top:-15px"> Powered By</span> <a style="color:#fff !important;" href="" ng-click="dhanushwebsite()"><img src="img/dipl.png"> </a></p>
    </div>
</ion-view>