<ion-view  title="Welcome to AP BJP" id="page8" style="background: url('img/bg.png') no-repeat center;background-size:cover;" >
  <ion-content padding="true" class="has-header">
      <button class="button button-full button-energized" ng-click="getMemberdetails()" style="/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#8be41b+0,4faa0b+100 */
background: #8be41b !important; /* Old browsers */
background: -moz-linear-gradient(top, #8be41b 0%, #4faa0b 100%) !important; /* FF3.6-15 */
background: -webkit-linear-gradient(top, #8be41b 0%,#4faa0b 100%) !important; /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #8be41b 0%,#4faa0b 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8be41b', endColorstr='#4faa0b',GradientType=0 ) !important; /* IE6-9 */ border-bottom:2px solid #406f05; color:#fff; font-weight:600;">
        <i class="icon ion-person text-left" style="float:left;" ></i> My Profile
      </button>
      <!--<button class="button button-full button-energized" ng-click="menu.reports()" style="/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#8be41b+0,4faa0b+100 */
background: #8be41b !important; /* Old browsers */
background: -moz-linear-gradient(top, #8be41b 0%, #4faa0b 100%) !important; /* FF3.6-15 */
background: -webkit-linear-gradient(top, #8be41b 0%,#4faa0b 100%) !important; /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #8be41b 0%,#4faa0b 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8be41b', endColorstr='#4faa0b',GradientType=0 ) !important; /* IE6-9 */ border-bottom:2px solid #406f05; color:#fff; font-weight:600;">
          <i class="icon ion-pie-graph text-left" style="float:left;"></i>Reports
      </button>-->

     
      <!-- <button ng-click="getNews2()" class="button button-full button-energized" style="/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#8be41b+0,4faa0b+100 */
background: #8be41b !important; /* Old browsers */
background: -moz-linear-gradient(top, #8be41b 0%, #4faa0b 100%) !important; /* FF3.6-15 */
background: -webkit-linear-gradient(top, #8be41b 0%,#4faa0b 100%) !important; /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #8be41b 0%,#4faa0b 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8be41b', endColorstr='#4faa0b',GradientType=0 ) !important; /* IE6-9 */ border-bottom:2px solid #406f05; color:#fff; font-weight:600;">
          <i class="icon ion-ios-calendar text-left" style="float:left;"></i> Events
      </button> -->
     
 
      <button ng-click="getfeedback()" class="button button-full button-energized" style="/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#8be41b+0,4faa0b+100 */
background: #8be41b !important; /* Old browsers */
background: -moz-linear-gradient(top, #8be41b 0%, #4faa0b 100%) !important; /* FF3.6-15 */
background: -webkit-linear-gradient(top, #8be41b 0%,#4faa0b 100%) !important; /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #8be41b 0%,#4faa0b 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8be41b', endColorstr='#4faa0b',GradientType=0 ) !important; /* IE6-9 */ border-bottom:2px solid #406f05; color:#fff; font-weight:600;">
          <i class="icon ion-ios-paper text-left" style="float:left;"></i> Feedback
      </button>
       <button ng-click="getPDF()" class="button button-full button-energized" style="/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#8be41b+0,4faa0b+100 */
background: #8be41b !important; /* Old browsers */
background: -moz-linear-gradient(top, #8be41b 0%, #4faa0b 100%) !important; /* FF3.6-15 */
background: -webkit-linear-gradient(top, #8be41b 0%,#4faa0b 100%) !important; /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #8be41b 0%,#4faa0b 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8be41b', endColorstr='#4faa0b',GradientType=0 ) !important; /* IE6-9 */ border-bottom:2px solid #406f05; color:#fff; font-weight:600;">
          <i class="icon ion-card text-left" style="float:left;"></i> Download ID Card
      </button>
      <button ng-click="activeMember()" class="button button-full button-energized" style="/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#8be41b+0,4faa0b+100 */
background: #8be41b !important; /* Old browsers */
background: -moz-linear-gradient(top, #8be41b 0%, #4faa0b 100%) !important; /* FF3.6-15 */
background: -webkit-linear-gradient(top, #8be41b 0%,#4faa0b 100%) !important; /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #8be41b 0%,#4faa0b 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8be41b', endColorstr='#4faa0b',GradientType=0 ) !important; /* IE6-9 */ border-bottom:2px solid #406f05; color:#fff; font-weight:600;">
          <i class="icon ion-bowtie  text-left" style="float:left;"></i> Active Membership
      </button>

      <button ui-sref="menu.voterlist()" class="button button-full button-energized" style="/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#8be41b+0,4faa0b+100 */
background: #8be41b !important; /* Old browsers */
background: -moz-linear-gradient(top, #8be41b 0%, #4faa0b 100%) !important; /* FF3.6-15 */
background: -webkit-linear-gradient(top, #8be41b 0%,#4faa0b 100%) !important; /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #8be41b 0%,#4faa0b 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8be41b', endColorstr='#4faa0b',GradientType=0 ) !important; /* IE6-9 */ border-bottom:2px solid #406f05; color:#fff; font-weight:600;">
          <i class="icon  ion-ios-book text-left" style="float:left;"></i> {{village_name}} Voter list
      </button>

      <button ui-sref="menu.vistarak()" ng-if="isVisibleVistarak" class="button button-full button-energized" style="/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#8be41b+0,4faa0b+100 */
      background: #8be41b !important; /* Old browsers */
      background: -moz-linear-gradient(top, #8be41b 0%, #4faa0b 100%) !important; /* FF3.6-15 */
      background: -webkit-linear-gradient(top, #8be41b 0%,#4faa0b 100%) !important; /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, #8be41b 0%,#4faa0b 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8be41b', endColorstr='#4faa0b',GradientType=0 ) !important; /* IE6-9 */ border-bottom:2px solid #406f05; color:#fff; font-weight:600;">
                <i class="icon  ion-ios-book text-left" style="float:left;"></i> Vistarak Report
            </button>
     
  </ion-content>
</ion-view>