<ion-view title="Booth Committee" id="page1" cache-view="false" style="color:#fff !important;">

    <ion-content padding="true" class="has-header">

        <form novalidate name="MemberRegistration">
            <div class="list">
                
                <label class="item item-input item-stacked-label">
                    <span class="input-label" style="color:#000"><span style="color:red">*</span>Name</span>
                    <input type="text" placeholder="Enter your Name" style="color:#000;background:none !important;" ng-model="rg.name" text-only name="name" ng-minlength="2" required>
                </label>

                <span ng-show="MemberRegistration.name.$touched && MemberRegistration.name.$invalid" style="color:darkred">Name should be minimum two letters.</span>

                <label class="item item-input item-stacked-label">
                    <span class="input-label" style="color:#000"><span style="color:red">*</span>Surname</span>
                    <input type="text" placeholder="Enter your Surname" style="color:#000;background:none !important;" ng-minlength="1" text-only ng-model="rg.surname" name="surname" required>
                </label>
                <span ng-show="MemberRegistration.surname.$touched && MemberRegistration.surname.$invalid" style="color:darkred">Surname should be minimum one letter</span>
                <label class="item item-input item-stacked-label">
                    <span class="input-label" style="color:#000"><span style="color:red">*</span>Age </span>

                    <input type="tel" maxlength="2" ng-maxlength="2" placeholder="Enter your Age" ng-minlength="2" name="age" ng-model="rg.age" required numbers-only style="color:#000 !important"  >
                </label>
                <span ng-show="MemberRegistration.age.$touched && MemberRegistration.age.$invalid" style="color:darkred">Age is required </span>

                <p style="color:red" ng-show="rg.age <=17"> Age should be minimum 18 Years old </p>
                <label class="item item-input item-stacked-label">
                    <span class="input-label" style="color:#000"><span style="color:red">*</span>Mobile Number</span>

                    <input type="tel" style="color:#000;background:none !important;" placeholder="Mobile number" maxlength="10" ng-minlength="10" numbers-only ng-model="rg.mobileNumber" name="mobileNumber" required>
                </label>
                <span ng-show="MemberRegistration.mobileNumber.$touched && MemberRegistration.mobileNumber.$invalid" style="color:darkred">10 digit Mobile No required.</span>
                <label class="item item-input item-stacked-label">
                    <span class="input-label" style="color:#000"><span style="color:red">*</span>Confirm Mobile Number</span>

                    <input type="tel" style="color:#000;background:none !important;" placeholder="Re-enter above Mobile number" maxlength="10" ng-minlength="10" numbers-only ng-model="rg.confirm_mobile_number" name="confirm_mobile_number" required>
                </label>
                <p ng-show="MemberRegistration.confirm_mobile_number.$touched && MemberRegistration.confirm_mobile_number.$invalid" style="color:darkred">10 digit Mobile No required.</p>
                <p style="color:red" ng-show="rg.mobileNumber !== rg.confirm_mobile_number">Mobile Number mismatch</p>
                

               
               
               
                <label class="item item-input item-stacked-label item-text-wrap" style="color:#235801 !important;font-size:14px;user-select: text;-webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: text;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;">Don't have BJP Membership ID, please dial Toll Free No <strong><button  class="button" style="border:none;padding:0px; background:none;line-height:0px;min-width: 0px;
    min-height: 19px;color:#07C;font-weight:bold;" ng-click="callNumber(18002661001)">18002661001</button> </strong> </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label" style="color:#000"><span style="color:red">*</span>Membership ID</span>
                    <input type="tel" style="color:#000;background:none !important;" placeholder="10 digit Membership number" maxlength="10" ng-minlength="10" ng-model="rg.membershipID" name="membershipID" numbers-only required>
                </label>

                <span ng-show="MemberRegistration.membershipID.$touched && MemberRegistration.membershipID.$invalid" style="color:darkred">10 digit Membership ID required.</span>
                <label class="item item-input item-stacked-label">
                    <span class="input-label" style="color:#000"><span style="color:red">*</span>Confirm Membership ID</span>
                    <input type="tel" style="color:#000;background:none !important;" placeholder="Re-enter above Membership number" maxlength="10" ng-minlength="10" numbers-only ng-model="rg.confirmmembershipID" name="confirmmembershipID" ng-style="myStyle" required>
                </label>

                <p ng-show="MemberRegistration.confirmmembershipID.$touched && MemberRegistration.confirmmembershipID.$invalid  " style="color:darkred">10 digit Membership ID required.</p>
                <p style="color:red" ng-show="rg.membershipID !== rg.confirmmembershipID">Membership ID mismatch</p>
                <label class="item item-input item-select">
                    <span class="input-label" style="color:#000"><span style="color:red">*</span>Gender</span>

                    <select ng-model="rg.gender" name="gender" style="color:#000;background:none !important;"  required>
                      
                        <option value="Male" selected> Male</option>
                        <option value="Female"> Female</option>


                    </select>
                </label>
                <span ng-show="MemberRegistration.gender.$touched && MemberRegistration.gender.$invalid" style="color:darkred">Gender required.</span>
                 
               
                <label class="item item-input item-select" >
                    <span class="input-label" style="color:#000"><span style="color:red">*</span>Parliament</span>
                    <select  ng-model="rg.ditrict" name="idproof" style="color:#000;background:none !important;" ng-change="getAssembly(rg)" required>
                        <option value=""> Select</option>
                        <option ng-repeat="list in parliament" value="{{list.id}}">{{list.name}}</option>


                    </select>
                </label>
                <label class="item item-input item-select" ng-if="showassembly">
                    <span class="input-label" style="color:#000"><span style="color:red">*</span>Assembly</span>
                    <select  ng-model="rg.assembly" name="idproof" style="color:#000;background:none !important;" ng-change="getMandals(rg)" required>
                        <option value=""> Select</option>
                        <option ng-repeat="list in assemblies" value="{{list.id}}">{{list.name}}</option>


                    </select>
                </label>
                <label class="item item-input item-select" ng-if="showMandal">
                    <span class="input-label item-text-wrap" style="color:#000"><span style="color:red">*</span>Mandal</span>
                    <select ng-model="rg.mandal" name="idproof" style="color:#000;background:none !important;" ng-change="getVillages(rg)" required>
                        <option value=""> Select</option>
                        <option ng-repeat="list in mandals" value="{{list.id}}">{{list.name}}</option>


                    </select>
                </label>

                <!-- <label class="item item-input item-select" ng-if="showBooth"> -->
                    <!-- <span class="input-label item-text-wrap" style="color:#000" >Shakti Kendra</span> -->
                    <!-- <select ng-model="rg.upamandal" name="idproof" style="color:#000;background:none !important;" ng-change="getVillages(rg)" ng-required='!re' > -->
                        <!-- <option value=""> Select</option> -->
                        <!-- <option ng-repeat="list in upamandals" value="{{list.id}}">{{list.name}}</option> -->


                    <!-- </select> -->
                <!-- </label> -->
                <label class="item item-input item-select" ng-if="showUpaMandal">
                    <span class="input-label" style="color:#000"><span style="color:red">*</span>Village/Div/Wrd</span>
                    <select  ng-model="rg.village" name="idproof" style="color:#000;background:none !important;" ng-change="getBooths(rg)" required>
                        <option value=""> Select</option>
                        <option ng-repeat="list in villages" value="{{list.id}}">{{list.name}}</option>


                    </select>
                </label>
                <label class="item item-input item-select" ng-if="showBooth">
                    <span class="input-label" style="color:#000">Polling Booth No     </span>


                    <select ng-model="rg.booths" name="idproof" style="color:#000;background:none !important;" ng-change="getBoothNumber(rg)" >
                        <option value=""> Select</option>
                        <option ng-repeat="list in booths" value="{{list.id}}">{{list.ec_code}}</option>


                    </select>
                </label>
               

                <label class="item item-input item-stacked-label" ng-if="showBooth">
                    <span class="input-label" style="color:#000">To Know Your Polling Booth</span>
                    <div class="col">
                        <button ng-click="toknow_booth()" class="item-text-wrap" style="text-decoration: none;border: none;background: none;color:#083d8d;font-weight: 600;margin-left: -10px; " type="button">(Search within App by village)</button>
                    </div>
                    <div class="col">
                      <label>  <button ng-click="toknow_ur_booth()" class="item-text-wrap" style="text-decoration: none;border: none;background: none;color:#083d8d;font-weight: 600;margin-left: -10px; " type="button">(Search in AP CEO)</button></label>
                    </div>
                      
                </label>
                
                <label class="item item-input" ng-if="showBoothnumber" readonly>
                    <span class="input-label" style="color:#000">Polling Booth Code:  </span>
                    <storng style="position: absolute;right:20px;font-weight: 600;">{{rg.boothNumber}}</storng>
                </label>
                <span ng-show="MemberRegistration.boothNumber.$touched && MemberRegistration.boothNumber.$invalid" style="color:darkred">10 digit number required.</span>
                
                <label class="item item-input item-select">
                    <span class="input-label" style="color:#000">Caste</span>

                    <select ng-model="rg.caste" name="caste" style="color:#000;background:none !important;">
                        <option value=""> Select</option>
                        <option ng-repeat="list in casts" value="{{list.id}}">{{list.name}}</option>


                    </select>
                </label>
                <span ng-show="MemberRegistration.caste.$touched && MemberRegistration.caste.$invalid" style="color:darkred">caste required.</span>
                <!--<label class="item item-input item-select">
                    <span class="input-label" style="color:#000">Id Proof</span>
                    <select ng-model="rg.idproof" name="idproof" style="color:#000;background:none !important;" ng-change="showprrofNumber(rg)">
                        <option value=""> Select</option>
                        <option ng-repeat="list in idproof" value="{{list.id}}">{{list.name}}</option>


                    </select>
                </label>-->
                <div class="item item-toggle">
                        Graduate:<strong> {{graduateresult}}</strong>
                        <label class="toggle toggle-balanced">
                            <input type="checkbox" ng-model="rg.graduate" ng-change="getgraduate(rg)">
                            <div class="track">
                                <div class="handle" style="background-color: #f77e08;"></div>
                            </div>
                        </label>
                    </div>
                    <label class="item item-input item-select">
                        <span class="input-label" style="color:#000">Profession</span>
    
                        <select ng-model="rg.profession" name="profession" style="color:#000;background:none !important;">
                            <option value=""> Select</option>
                            <option ng-repeat="item in profession_list" value="{{item.id}}">{{item.name}}</option>
    
    
                        </select>
                    </label>
                   
                    <label class="item item-input item-stacked-label">
                    <span class="input-label" style="color:#000">Voter ID</span>
                    <input type="text" style="color:#000;background:none !important;" placeholder="Voter Id Number" ng-model="rg.IDproofNumber"  aw-limit-length="18" min-length="10" maxlength="18"   restrict-field="rg.IDproofNumber" ng-pattern-restrict="^[a-zA-Z0-9_]*$" ng-change="clearConfirmVoterID()">
                </label>
               
                <label class="item item-input item-stacked-label" ng-if="rg.IDproofNumber.length >=9">
                    <span class="input-label" style="color:#000">Confirm Voter ID</span>
                    <input type="text" style="color:#000;background:none !important;" placeholder="Re-enter above Voter Id" ng-model="rg.confirmvoterid" name="confirmvoterid" aw-limit-length="18" maxlength="18" ng-minlength="10"  only-alphabets required restrict-field="rg.confirmvoterid" ng-pattern-restrict="^[a-zA-Z0-9_]*$">
                </label>
                <span ng-show="MemberRegistration.confirmvoterid.$touched && MemberRegistration.confirmvoterid.$invalid" style="color:darkred"> Invalid Voter ID</span>
                <p style="color:red" ng-if="rg.IDproofNumber.length >=9" ng-show="rg.IDproofNumber !== rg.confirmvoterid">Voter ID  mismatch</p>
                 <label class="item item-input item-stacked-label">
                    <span class="input-label" style="color:#000">Email ID</span>
                    <input type="email" style="color:#000;background:none !important;" placeholder="address@example.com" ng-model="rg.email"  ng-pattern="emailFormat"  >
                </label>
                
                
               <label class="item item-input item-stacked-label">
                    <span class="input-label" style="color:#000">Door No</span>

                     <input type="text" style="color:#000;background:none !important;" placeholder="Enter Door Number" ng-model="rg.doorno" name="doorno"  >
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label" style="color:#000">Street</span>

                     <input type="text" style="color:#000;background:none !important;" placeholder="Enter Locality,Area"  ng-model="rg.street" name="street"  >
                </label>
          <!--       <label class="item item-input item-stacked-label">
                    <span class="input-label" style="color:#000">PIN Code</span>

                     <input type="tel" style="color:#000;background:none !important;" placeholder="Enter 6 digit PIN Code"  ng-model="rg.pincode" name="pincode" numbers-only min-length="0" maxlength="6"  >
                </label> -->
                   <label class="item item-input item-stacked-label">
                    <span class="input-label" style="color:#000">PIN Code</span>

                     <input type="tel" style="color:#000;background:none !important;" placeholder="Enter 6 digit PIN Code"  ng-model="rg.pincode" name="pincode" min-length="0" maxlength="6" ng-pattern="pinFormat">
                     <span ng-show="MemberRegistration.pincode.$error.pattern"><p style="color:red">Please enter a valid Pincode</p></span>
                </label>
               
                    

                    

               <label class="item item-input item-select">
                    <span class="input-label" style="color:#000">Do you own a Vehicle? </span>

                    <select ng-model="rg.vehicle" name="vehicle" style="color:#000;background:none !important;" ng-change="getVehicle()">
                        <option value=""> Select</option>
                        <option ng-repeat="list in vehicle" value="{{list.id}}">{{list.name}}</option>


                    </select>
                </label>
                <label class="item item-input item-stacked-label" ng-if="vehiclenumber">
                    <span class="input-label" style="color:#000">Vehicle No</span>

                    <input type="text" placeholder="Enter your Vehicle No" style="color:#000;background:none !important;" ng-model="rg.vehicleno" name="vehicleno" minlength="9"  ng-pattern-restrict="^[a-zA-Z0-9_]*$" maxlength="12">

                
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label" style="color:#000"><span style="color:red"></span>Referred By</span>

                    <input type="tel" style="color:#000;background:none !important;" placeholder="10 Digits Mobile number" minlength="10" maxlength="10" ng-model="rg.refered_by" name="refered_by" ng-pattern="referralFormat">
                    <span ng-show="MemberRegistration.refered_by.$error.pattern"><p style="color:red">Please enter a valid number</p></span>
                </label>
                <div class="item item-toggle">
                    <span class="input-label" style="color:#000">Do you own a Smart Phone? <strong ng-if="rg.smart_phone_status==false">No</strong><strong ng-if="rg.smart_phone_status==true">Yes</strong> </span> 
                    <label class="toggle toggle-balanced">
                        <input type="checkbox" ng-model="rg.smart_phone_status">
                        <div class="track">
                            <div class="handle" style="background-color: #f77e08;"></div>
                        </div>
                    </label>
                </div>
                <label class="item item-input item-stacked-label ">
                    <span class="input-label" style="color:#000;margin-top: -50px;">Upload Photo</span>
                    <input type="file" ng-model="user.Upload" id="file" name="file" accept="image/*"  onchange="angular.element(this).scope().imageUpload(event)" />

                    <!--<input type="file" ng-model="user.imagepath" accept="image/*" />-->
                </label>
                <label class="item item-input item-stacked-label " ng-if="selectImage">
                    <span class="input-label" style="color:#000;margin-top: -50px;">Photo</span>

                    <img class="thumb pull-right" src="{{stepsModel}}">

                    <!--<input type="file" ng-model="user.imagepath" accept="image/*" />-->
                </label>
        
               <label class="item">
                <input type="checkbox" name="checkbox" ng-model="rg.check" value="check" id="agree" required /> <span style="color:red"> *</span>I Promise to abide by the  <label> <button href="" style="text-decoration: none;border: none;background: none;color:#07C;font-weight: 600;margin-left: -5px;" ng-click="openModal(1)">Pledge</button></label> 
               </label> 
               
                <button id="registration-button1" style="border-radius:5px 5px 5px 5px;background:#43ae0b  !important" class="button button-energized button-block" ng-disabled="MemberRegistration.$invalid"  ng-click="submit(rg)">Submit</button>

            </div>
        </form>
      
        <style>
            .thumb {
                border: 1px solid #e85177;
                box-shadow: 0px 0px 5px #808080;
                width: 60px;
                height: 60px;
            }

            .disabled {
                color: #ccc !important;
            }
        </style>

        <script id="my-modal.html" type="text/ng-template">
      <div class="modal">
        <ion-header class="bar bar-header bar-stable1 bar-stable">
          <h1 class="title"> Voter list</h1>
          <div class="button button-clear" ng-click="modal.hide()"><span class="icon ion-close"></span></div>
        </ion-header>
        <ion-content has-header="true" padding="true">

<div class="list" style="top: 40px;position:relative">
        <label class="item item-input item-select">
                <span class="input-label" style="color:#000">Polling Booths</span>

                <select ng-model="s.booth_code" name="s.booth_code" style="color:#000;background:none !important;">
                    <option value=""> Select</option>
                    <option ng-repeat="voter in voterlist | unique:'booth_code'">{{voter.booth_code}}</option>


                </select>
            </label>

          <label class="item item-input item-stacked-label " >
                <span class="input-label" style="color:#000">Search By Name,H.no etc..</span>
                     <input type="text"    placeholder="name,H.no, etc..."    ng-model="search">


                   
                </label>
                
                </div>
                
                       
        <div class="card" ng-repeat="voter in voterlist |  filter : search | filter:s" style="top: 40px;position:relative">
          <div class="item item-text-wrap">
          <h4>Name : <b>{{voter.name }} </b></h4>
          <p>S/W/D/O : {{voter.s_w_d_of}}</p>
          <p>Voter Id : {{voter.voter_id}}</p>
          <p>Polling Booth : {{voter.booth_code}}</p>
          <p>Age : {{voter.age}}</p>
          <p>Gender : {{voter.gender}}</p>
          <p>Door Number : {{voter.door_number}}</p>
          <p>District : {{voter.district_name}}</p>
          </div>

        </div>
        </ion-content>
      </div>
    </script>

    <script id="my-pledge.html" type="text/ng-template">
        <div class="modal">
          <ion-header class="bar bar-header bar-stable1 bar-stable">
            <h1 class="title">Pledge</h1>
            <div class="button button-clear" ng-click="modal2.hide()"><span class="icon ion-close"></span></div>
          </ion-header>
          <ion-content has-header="true" padding="true">
              <div style="padding:10px;position:relative;top:50px;">
                  <p>I <strong>{{rg.name}}</strong> wish to become a member of the Bharatiya Janata Party. I have Completed 18 Years of Age. I Promise to abide by below pledge </p>
            <p>I believe in Integral Humanism, which is the basic philosophy of the Bharatiya Janata Party.</p>

                <p>I am committed to Nationalism and National Integration, Democracy, Gandhian approach to socio-economic issues leading to the establishment of an egalitarian society free from exploitation, Positive Secularism (Sarva Dharma Sama Bhava) and Value-based politics.</p>
            
                    <p>I subscribe to the concept of a Secular State and Nation not based on Religion.</p>
            
                        <p>I firmly believe that this task can be achieved by peaceful means alone.</p>
            
                            <p>I do not believe in discrimination based on caste, sex or Religion.</p>
            
                                <p>I do not observe or recognize untouchability in any shape or form.</p>
            
                                    <p>I am not a member of any other political Party.</p>
            
                                        <p> I undertake to abide by the Constitution, rules and discipline of the party.</p>
              </div>
  
          </ion-content>
        </div>
      </script>
    </ion-content>
</ion-view>