
<ion-view title="Vistharak Report" id="vistarak" cache-view="false" style="color:#fff !important;">

    <ion-content padding="true" class="has-header">
    
    <form novalidate name="MemberRegistration">
    <div class="list">
    
    
    <!-- <label class="item item-input item-stacked-label">
    <span class="input-label" style="color:#000"><span style="color:red"></span> Name</span>
    <input type="text" placeholder="Enter your Name" style="color:#000;background:none !important;" ng-model="rg.name" text-only name="rg.name" >
    </label> -->
    
    <label class="item item-input item-stacked-label">
    <span class="input-label" style="color:#000"><span style="color:red">*</span>Report Date</span>
    <input type="date" style="color:#000;background:none !important;"
    ng-model="rg.conducted_on" required >
    <!-- <input type="date" style="color:#000;background:none !important;"
    max="{{date | date:'yyyy-MM-dd'}}" ng-model="rg.dob" required > -->
    
    </label>
   
   
    <label class="item item-input">
    <span class="input-label" style="color:#000"><span style="color:red">*</span>Schedule Time</span>
    <input type="time" ng-model="rg.schedule_time" name="time" required>
    </label>
   
    

    <label class="item item-input item-select" >
            <span class="input-label" style="color:#000"><span style="color:red">*</span>Duration in hours</span>
            <select ng-model="rg.duration" name="idproof" style="color:#000;background:none !important;" required>
            <option value=""> Select</option>
            <option ng-repeat="data in duration_type" value="{{data.name}}">{{data.name}}</option>
            
            
            </select>
            </label>

    
    <label class="item item-input item-select" >
    <span class="input-label" style="color:#000"><span style="color:red">*</span>Type of Report</span>
    <select ng-model="rg.type_of_report" name="idproof" style="color:#000;background:none !important;" required>
    <option value=""> Select</option>
    <option ng-repeat="data in reporttypes" value="{{data.name}}">{{data.name}}</option>
    
    
    </select>
    </label>
    
   
    <label class="item item-input item-stacked-label">
    <span class="input-label" style="color:#000"><span style="color:red"></span>Place </span>
    <input type="text" placeholder="town/city" name="text" ng-model="rg.conducted_at" style="color:#000 !important" text-only name="name" maxlength="20" >
    </label>
   
    <label class="item item-input item-stacked-label">
    <span class="input-label" style="color:#000"><span style="color:red"></span>Venue </span>
    <input type="text" placeholder="" name="text" ng-model="rg.venue" style="color:#000 !important" text-only name="name" maxlength="20" >
    </label>
   
    <label class="item item-input item-stacked-label">
    <span class="input-label" style="color:#000"><span style="color:red"></span><strong>Attendance:</strong></span>
    
    </label>
    
    <label class="item item-input item-stacked-label">
            <span class="input-label" style="color:#000"><span style="color:red">*</span>Total Members</span> 
            <input type="tel" maxlength="10" placeholder="" name="" ng-model="rg.total" numbers-only style="color:#000 !important" required>
            </label>
    
    <label class="item item-input item-stacked-label">
    <span class="input-label" style="color:#000"><span style="color:red"></span>Male </span> 
    <input type="tel" maxlength="4" placeholder="" name="" ng-model="rg.male_attendence" numbers-only style="color:#000 !important" >
    </label>
   
    <label class="item item-input item-stacked-label">
    <span class="input-label"style="color:#000"><span style="color:red"></span> Female </span> 
    <input type="tel" maxlength="4" ng-model="rg.female_attendence" numbers-only style="color:#000 !important" >
    </label>
   
   
    <label class="item item-input item-stacked-label">
    <span class="input-label"style="color:#000"><span style="color:red"></span>New Memberships </span>
    <input type="tel" placeholder="" name="" ng-model="rg.new_memberships_attendence" numbers-only style="color:#000 !important" maxlength="4" >
    </label>
    
   
    <label class="item item-input item-stacked-label">
    <span class="input-label" style="color:#000"><span style="color:red"></span><strong>Caste:</strong></span>
    
    </label>
    
    
    <label class="item item-input item-stacked-label">
    <span class="input-label" style="color:#000"><span style="color:red"></span>OC </span>
    <input type="tel" placeholder="" name="" ng-model="rg.oc_caste_attendence" numbers-only style="color:#000 !important" maxlength="4" >
    </label>
    
    <label class="item item-input item-stacked-label">
    <span class="input-label" style="color:#000"><span style="color:red"></span>BC </span>
    <input type="tel" placeholder="" name="" ng-model="rg.bc_caste_attendence" maxlength="4" numbers-only style="color:#000 !important" >
    </label>
   
   
    <label class="item item-input item-stacked-label">
    <span class="input-label" style="color:#000"><span style="color:red"></span>ST </span>
    <input type="tel" placeholder="" name="" ng-model="rg.st_attendence" numbers-only style="color:#000 !important" maxlength="4" >
    </label>
    
   
    <label class="item item-input item-stacked-label">
    <span class="input-label" style="color:#000"><span style="color:red"></span>SC </span>
    <input type="tel" placeholder="" name="" ng-model="rg.sc_attendence" numbers-only style="color:#000 !important" maxlength="4" >
    </label>
   
    <label class="item item-input item-stacked-label">
    <span class="input-label" style="color:#000"><span style="color:red"></span>Christian </span>
    <input type="tel" placeholder="" name="" ng-model="rg.christian_attendence" numbers-only style="color:#000 !important" maxlength="4" >
    </label>
   
    
    <label class="item item-input item-stacked-label">
    <span class="input-label" style="color:#000"><span style="color:red"></span>Muslim </span>
    <input type="tel" placeholder="" name="" ng-model="rg.muslim_attendence" numbers-only style="color:#000 !important" maxlength="4" >
    </label>
    <!-- 
    <label class="item item-input item-stacked-label">
    <span class="input-label" style="color:#000"><span style="color:red"></span>Muslim</span>
    <input type="number" placeholder="" style="color:#000;background:none !important;" ng-model="rg.muslim_attendence" text-only name="number" ng-minlength="2" required>
    </label> -->
    
    <label class="item item-input item-stacked-label">
    <span class="input-label"style="color:#000"><span style="color:red"></span>Others </span>
    <input type="tel" placeholder="" name="" ng-model="rg.others_attendence" numbers-only style="color:#000 !important" maxlength="4" >
    </label>
   
   
   
    <label class="item item-input item-stacked-label">
    <span class="input-label" style="color:#000"><span style="color:red"></span><strong>Key Persons</strong></span><span style="float: right"><button id="registration-button1" style="border-radius:5px 5px 5px 5px;background:#43ae0b !important" class="button button-energized button-small " ng-click="openModal()"> <strong style="font-size:18px">+</strong> Key Persons</button></span>   </label>
   
   
    <label class="item item-input item-stacked-label">
            <span class="input-label" style="color:#000"><span style="color:red"></span>Summary </span>
            <textarea ng-model="kp.summary" style="color:#000 !important"></textarea>
          
            <!-- <input type="text" placeholder="" name="" ng-model="kp.summary" style="color:#000 !important" maxlength="100" > -->
            </label>
   
    <button id="registration-button1" style="border-radius:5px 5px 5px 5px;background:#43ae0b !important" class="button button-energized button-block" ng-disabled="MemberRegistration.$invalid " ng-click="submit(rg)">Submit</button>
    <!-- <button id "registration-button1" style="border-radius:5px 5px 5px 5px;background:#da1010 !important" class="button button-energized button-block" ng-click="clear">clear</button> -->
    </div>
</form>

    <script id="my-modal.html" type="text/ng-template">
        <div class="modal">
            
          <ion-header class="bar bar-header bar-stable1 bar-stable">
            <h1 class="title">Key Perosons</h1>
            <div class="button button-clear" ng-click="modal.hide()"><span class="icon ion-close"></span></div>
          </ion-header>
          <ion-content padding="true" class="has-header" >
                <form novalidate name="KeypersonForm" id="KeypersonForm">
              <div class="list">

                    <label class="item item-input item-stacked-label">
                            <span class="input-label" style="color:#000"><span style="color:red"></span>Name</span>
                            <input type="text" placeholder="" style="color:#000;background:none !important;" ng-model="kp.name" text-only name="name" ng-minlength="2" required>
                            </label>
                           
                           
                            <label class="item item-input item-stacked-label">
                            <span class="input-label" style="color:#000"><span style="color:red"></span>Mobile No</span>
                            
                            <input type="tel" style="color:#000;background:none !important;" placeholder="Mobile number" maxlength="10" minlength="10" numbers-only ng-model="kp.mobile_no" name="mobileNumber" required>
                            </label>
                            <!-- <span ng-show="KeypersonForm.mobileNumber.$touched&& KeypersonForm.mobileNumber.$invalid" style="color:darkred">Invalid Mobile Number</span> -->
                           
                            <label class="item item-input item-stacked-label">
                            <span class="input-label" style="color:#000"><span style="color:red"></span>Position</span>
                            <input type="text" placeholder="" style="color:#000;background:none !important;" ng-model="kp.position" text-only name="name" maxlength="20" required>
                            </label> 
                            
                            
                            <button id="registration-button1" style="border-radius:5px 5px 5px 5px;background:#43ae0b !important" class="button button-energized button-block" ng-disabled="KeypersonForm.$invalid " ng-click="addKeyPerson(kp)">Add</button>
                    
              </div>
                </form>

                <div class="card" ng-repeat="item in keypersonlist track by $index">
                        <div class="item item-divider">
                         {{item.name}}
                        </div>
                        <div class="item item-text-wrap">
                                <p><strong>Position</storng>: {{item.position}}</p>
                          <p><strong>Mobile No</storng>: {{item.mobile_no}}</p>
                        </div>
                        
                      </div>
              </ion-content>
        </div>
      </script>
   
    
    <style>
    .thumb {
    border: 1px solid #e85177;
    box-shadow: 0px 0px 5px #808080;
    width: 60px;
    height: 60px;
    }
    
    .disabled {
    color: #ccc !important;
    }
    </style>
    
    
    
   
    </ion-content>
    </ion-view>
   
   
   