<ion-view title="Voter List" id="page9" >
  <ion-content padding="true" class="has-header" >
        <div class="list">
        <label class="item item-input item-select">
                <span class="input-label" style="color:#000">Polling Booths</span>

                <select ng-model="s.booth_code" name="s.booth_code" style="color:#000;background:none !important;">
                    <option value=""> Select</option>
                    <option ng-repeat="voter in voterlist | unique:'booth_code'">{{voter.booth_code}}</option>


                </select>
            </label>

          <label class="item item-input item-stacked-label " >
                <span class="input-label" style="color:#000">Search By Name, H.no etc..</span>
                     <input type="text"    placeholder="name,H.no etc..."    ng-model="search">


                   
                </label>
                
                </div>
		<div class="card" ng-repeat="voter in voterlist |  filter : search | filter : s">
		  <div class="item item-text-wrap">
		  <h4>Name : <b>{{voter.name }} </b></h4>
		  <p>S/W/D/O : {{voter.s_w_d_of}}</p>
		  <p>Voterid : {{voter.voter_id}}</p>
		  <p>Poling Booth : {{voter.booth_code}}</p>
		  <p>Age : {{voter.age}}</p>
		  <p>Gender : {{voter.gender}}</p>
		  <p>Door Number : {{voter.door_number}}</p>
		  <p>District Name : {{voter.district_name}}</p>
		  </div>
		</div>
		

  </ion-content>
    

    <style>
        .button-bg{
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#8be41b+0,4faa0b+100 */
background: #8be41b !important; /* Old browsers */
background: -moz-linear-gradient(top, #8be41b 0%, #4faa0b 100%) !important; /* FF3.6-15 */
background: -webkit-linear-gradient(top, #8be41b 0%,#4faa0b 100%) !important; /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #8be41b 0%,#4faa0b 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8be41b', endColorstr='#4faa0b',GradientType=0 ) !important; /* IE6-9 */ border-bottom:2px solid #406f05; color:#fff; font-weight:600;
        }
        .header .col {
    background-color:#71a823;
    color:#fff !important;
}

.col {
    border: solid 1px grey;
    border-bottom-style: none;
    border-right-style: none;
}

.col:last-child {
    border-right: solid 1px grey;
}

.row:last-child .col {
    border-bottom: solid 1px grey;
}
    </style>
</ion-view>