<ion-view title="Change Password" id="page2" cache-view="false">
  <ion-content padding="true" class="has-header">

      <form novalidate name="MemberRegistration">
          <div class="list">
              <label class="item item-input item-stacked-label">
                  <span class="input-label" style="color:#000">Old Password</span>
                  <input type="password" placeholder="Enter your old password" style="color:#000;background:none !important;" ng-model="rg.oldpassword" required>
              </label>

              <label class="item item-input item-stacked-label">
                  <span class="input-label" style="color:#000">New Password</span>
                  <input type="password" placeholder="Enter new password" style="color:#000;background:none !important;" ng-minlength="6" ng-model="rg.newpassword" name="newpassword" required>
              </label>
              <span ng-show="MemberRegistration.newpassword.$touched && MemberRegistration.newpassword.$invalid" style="color:darkred">Password should be minimum 6 characters</span>
              <label class="item item-input item-stacked-label">
                  <span class="input-label" style="color:#000">Confirm Password</span>
                  <input type="password" placeholder="Enter confirm password" style="color:#000;background:none !important;" ng-minlength="6" ng-model="rg.confirmpassword" name="confirmpassword" required>
              </label>
              <span ng-show="MemberRegistration.confirmpassword.$touched && MemberRegistration.confirmpassword.$invalid" style="color:darkred">Confirm Password should be minimum 6 characters</span>

              <button id="registration-button1" style="border-radius:5px 5px 5px 5px;background:#43ae0b  !important" class="button button-energized button-block" ng-disabled="MemberRegistration.$invalid" ng-click="submit(rg)">Submit</button>
             

          </div>
      </form>

  </ion-content>
</ion-view>