<ion-view title="Forgot password" id="page2" cache-view="false">
  <ion-content padding="true" class="has-header">

      <form novalidate name="MemberRegistration">
          <div class="list">
              <label class="item item-input item-stacked-label">
                  <span class="input-label" style="color:#000">Username</span>
                  <input type="tel" placeholder="Enter your username" ng-minlength="10" ng-maxlength="10" maxlength="10" style="color:#000;background:none !important;" ng-model="rg.name" required>
              </label>

              
             

              <button id="registration-button1" style="border-radius:5px 5px 5px 5px;background:#43ae0b  !important" class="button button-energized button-block" ng-disabled="MemberRegistration.$invalid" ng-click="submit(rg)">Submit</button>
            

          </div>
      </form>

  </ion-content>
</ion-view>