<ion-view title="Registration" id="page1" cache-view="false" style="color:#fff !important;">

    <ion-content padding="true" class="has-header">

        <form novalidate name="MemberRegistration">
            <div class="list">
                
                <label class="item item-input item-stacked-label">
                    <span class="input-label" style="color:#000"><span style="color:red">*</span>Name</span>
                    <input type="text" placeholder="Enter your Name" style="color:#000;background:none !important;" ng-model="rg.name" text-only name="name" ng-minlength="2" required>
                </label>

                <span ng-show="MemberRegistration.name.$touched && MemberRegistration.name.$invalid" style="color:darkred">Name should be minimum two letters.</span>

                <label class="item item-input item-stacked-label">
                    <span class="input-label" style="color:#000"><span style="color:red">*</span>Surname</span>
                    <input type="text" placeholder="Enter your Surname" style="color:#000;background:none !important;" ng-minlength="1" text-only ng-model="rg.surname" name="surname" required>
                </label>
                <span ng-show="MemberRegistration.surname.$touched && MemberRegistration.surname.$invalid" style="color:darkred">Surname should be minimum one letter</span>
                <label class="item item-input item-stacked-label">
                    <span class="input-label" style="color:#000"><span style="color:red">*</span>Age </span>

                    <input type="tel" maxlength="2" ng-maxlength="2" placeholder="Enter your Age" ng-minlength="2" name="age" ng-model="rg.age" required numbers-only style="color:#000 !important"  >
                </label>
                <span ng-show="MemberRegistration.age.$touched && MemberRegistration.age.$invalid" style="color:darkred">Age is required </span>

                <p style="color:red" ng-show="rg.age <=17"> Age should be minimum 18 Years old </p>
                <label class="item item-input item-stacked-label">
                    <span class="input-label" style="color:#000"><span style="color:red">*</span>Mobile Number</span>

                    <input type="tel" style="color:#000;background:none !important;" placeholder="Mobile number" maxlength="10" ng-minlength="10" numbers-only ng-model="rg.mobileNumber" name="mobileNumber" required>
                </label>
                <span ng-show="MemberRegistration.mobileNumber.$touched && MemberRegistration.mobileNumber.$invalid" style="color:darkred">10 digit Mobile No required.</span>
                <label class="item item-input item-stacked-label">
                    <span class="input-label" style="color:#000"><span style="color:red">*</span>Confirm Mobile Number</span>

                    <input type="tel" style="color:#000;background:none !important;" placeholder="Re-enter above Mobile number" maxlength="10" ng-minlength="10" numbers-only ng-model="rg.confirm_mobile_number" name="confirm_mobile_number" required>
                </label>
                <p ng-show="MemberRegistration.confirm_mobile_number.$touched && MemberRegistration.confirm_mobile_number.$invalid" style="color:darkred">10 digit Mobile No required.</p>
                <p style="color:red" ng-show="rg.mobileNumber !== rg.confirm_mobile_number">Mobile Number mismatch</p>
                

               
               
               
                <label class="item item-input item-stacked-label item-text-wrap" style="color:#235801 !important;font-size:14px;">Don't have BJP Membership ID, please dial Toll Free No <strong>18002661001</strong> </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label" style="color:#000"><span style="color:red">*</span>Membership ID</span>
                    <input type="tel" style="color:#000;background:none !important;" placeholder="10 digit Membership number" maxlength="10" ng-minlength="10" ng-model="rg.membershipID" name="membershipID" numbers-only required>
                </label>

                <span ng-show="MemberRegistration.membershipID.$touched && MemberRegistration.membershipID.$invalid" style="color:darkred">10 digit Membership ID required.</span>
                <label class="item item-input item-stacked-label">
                    <span class="input-label" style="color:#000"><span style="color:red">*</span>Confirm Membership ID</span>
                    <input type="tel" style="color:#000;background:none !important;" placeholder="Re-enter above Membership number" maxlength="10" ng-minlength="10" numbers-only ng-model="rg.confirmmembershipID" name="confirmmembershipID" ng-style="myStyle" required>
                </label>

                <p ng-show="MemberRegistration.confirmmembershipID.$touched && MemberRegistration.confirmmembershipID.$invalid  " style="color:darkred">10 digit Membership ID required.</p>
                <p style="color:red" ng-show="rg.membershipID !== rg.confirmmembershipID">Membership ID mismatch</p>
                <label class="item item-input item-select">
                    <span class="input-label" style="color:#000"><span style="color:red">*</span>Gender</span>

                    <select ng-model="rg.gender" name="gender" style="color:#000;background:none !important;"  required>
                      
                        <option value="Male" selected> Male</option>
                        <option value="Female"> Female</option>


                    </select>
                </label>
                <span ng-show="MemberRegistration.gender.$touched && MemberRegistration.gender.$invalid" style="color:darkred">Gender required.</span>
                 
               
                <label class="item item-input item-select" >
                    <span class="input-label" style="color:#000"><span style="color:red">*</span>Parliament</span>
                    <select  ng-model="rg.ditrict" name="idproof" style="color:#000;background:none !important;" ng-change="getAssembly(rg)" required>
                        <option value=""> Select</option>
                        <option ng-repeat="list in parliament" value="{{list.id}}">{{list.name}}</option>


                    </select>
                </label>
                <label class="item item-input item-select" ng-if="showassembly">
                    <span class="input-label" style="color:#000"><span style="color:red">*</span>Assembly</span>
                    <select  ng-model="rg.assembly" name="idproof" style="color:#000;background:none !important;" ng-change="getMandals(rg)" required>
                        <option value=""> Select</option>
                        <option ng-repeat="list in assemblies" value="{{list.id}}">{{list.name}}</option>


                    </select>
                </label>
                <label class="item item-input item-select" ng-if="showMandal">
                    <span class="input-label item-text-wrap" style="color:#000"><span style="color:red">*</span>Mandal</span>
                    <select ng-model="rg.mandal" name="idproof" style="color:#000;background:none !important;" ng-change="getUpaMandals(rg)" required>
                        <option value=""> Select</option>
                        <option ng-repeat="list in mandals" value="{{list.id}}">{{list.name}}</option>


                    </select>
                </label>

                <label class="item item-input item-select" ng-if="showMandalup">
                    <span class="input-label item-text-wrap" style="color:#000" >Shakti Kendra</span>
                    <select ng-model="rg.upamandal" name="idproof" style="color:#000;background:none !important;" ng-change="getVillages(rg)" ng-required='!re' >
                        <option value=""> Select</option>
                        <option ng-repeat="list in upamandals" value="{{list.id}}">{{list.name}}</option>


                    </select>
                </label>
                <label class="item item-input item-select" ng-if="showUpaMandal">
                    <span class="input-label" style="color:#000"><span style="color:red">*</span>Village/Div/Wrd</span>
                    <select  ng-model="rg.village" name="idproof" style="color:#000;background:none !important;" ng-change="getBooths(rg)" required>
                        <option value=""> Select</option>
                        <option ng-repeat="list in villages" value="{{list.id}}">{{list.name}}</option>


                    </select>
                </label>
                <label class="item item-input item-select" ng-if="showBooth">
                    <span class="input-label" style="color:#000">Booth Code <br><button ng-click="Toknow_booth()" style="text-decoration: none;border: none;background: none;color:#f37408;font-weight: 600;margin-left: -10px; ">(To Know Your Booth)</button></span>
                    <select ng-model="rg.booths" name="idproof" style="color:#000;background:none !important;" ng-change="getBoothNumber(rg)" >
                        <option value=""> Select</option>
                        <option ng-repeat="list in booths" value="{{list.id}}">{{list.ec_code}}</option>


                    </select>
                </label>
                
                
                <label class="item item-input" ng-if="showBoothnumber" readonly>
                    <span class="input-label" style="color:#000">Booth Number:  </span>
                    <storng style="position: absolute;right:20px;font-weight: 600;">{{rg.boothNumber}}</storng>
                </label>
                <span ng-show="MemberRegistration.boothNumber.$touched && MemberRegistration.boothNumber.$invalid" style="color:darkred">10 digit number required.</span>
                <label class="item item-input item-select">
                    <span class="input-label" style="color:#000">Caste</span>

                    <select ng-model="rg.caste" name="caste" style="color:#000;background:none !important;">
                        <option value=""> Select</option>
                        <option ng-repeat="list in casts" value="{{list.id}}">{{list.name}}</option>


                    </select>
                </label>
                <span ng-show="MemberRegistration.caste.$touched && MemberRegistration.caste.$invalid" style="color:darkred">caste required.</span>
                <!--<label class="item item-input item-select">
                    <span class="input-label" style="color:#000">Id Proof</span>
                    <select ng-model="rg.idproof" name="idproof" style="color:#000;background:none !important;" ng-change="showprrofNumber(rg)">
                        <option value=""> Select</option>
                        <option ng-repeat="list in idproof" value="{{list.id}}">{{list.name}}</option>


                    </select>
                </label>-->
                <div class="item item-toggle">
                        Graduate:<strong> {{graduateresult}}</strong>
                        <label class="toggle toggle-balanced">
                            <input type="checkbox" ng-model="rg.graduate" ng-change="getgraduate(rg)">
                            <div class="track">
                                <div class="handle" style="background-color: #f77e08;"></div>
                            </div>
                        </label>
                    </div>
                    <label class="item item-input item-stacked-label">
                    <span class="input-label" style="color:#000">Voter ID</span>
                    <input type="text" style="color:#000;background:none !important;" placeholder="Voter Id Number" ng-model="rg.IDproofNumber"  aw-limit-length="18" min-length="10" maxlength="18"   only-alphabets restrict-field="rg.IDproofNumber" >
                </label>
               
                <label class="item item-input item-stacked-label" ng-if="rg.IDproofNumber.length >=9">
                    <span class="input-label" style="color:#000">Confirm Voter ID</span>
                    <input type="text" style="color:#000;background:none !important;" placeholder="Re-enter above Voter Id" ng-model="rg.confirmvoterid" name="confirmvoterid" aw-limit-length="18" maxlength="18" ng-minlength="10"  only-alphabets required restrict-field="rg.confirmvoterid">
                </label>
                <span ng-show="MemberRegistration.confirmvoterid.$touched && MemberRegistration.confirmvoterid.$invalid" style="color:darkred"> Invalid Voter ID</span>
                <p style="color:red" ng-if="rg.IDproofNumber.length >=9" ng-show="rg.IDproofNumber !== rg.confirmvoterid">Voter ID  mismatch</p>
                 <label class="item item-input item-stacked-label">
                    <span class="input-label" style="color:#000">Email ID</span>
                    <input type="email" style="color:#000;background:none !important;" placeholder="address@example.com" ng-model="rg.email"  ng-pattern="emailFormat"  >
                </label>
                
                
               <label class="item item-input item-stacked-label">
                    <span class="input-label" style="color:#000">Door No</span>

                     <input type="text" style="color:#000;background:none !important;" placeholder="Enter Door Number" ng-model="rg.doorno" name="doorno"  >
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label" style="color:#000">Street</span>

                     <input type="text" style="color:#000;background:none !important;" placeholder="Enter Street"  ng-model="rg.street" name="street"  >
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label" style="color:#000">PIN Code</span>

                     <input type="tel" style="color:#000;background:none !important;" placeholder="Enter 6 digit PIN Code"  ng-model="rg.pincode" name="pincode" numbers-only min-length="0" maxlength="6" >
                </label>
               
                    

                    

               <label class="item item-input item-select">
                    <span class="input-label" style="color:#000">Do you own a Vehicle? </span>

                    <select ng-model="rg.vehicle" name="vehicle" style="color:#000;background:none !important;">
                        <option value=""> Select</option>
                        <option ng-repeat="list in vehicle" value="{{list.id}}">{{list.name}}</option>


                    </select>
                </label>
                
                <label class="item item-input item-stacked-label ">
                    <span class="input-label" style="color:#000;margin-top: -50px;">Upload Photo</span>
                    <input type="file" ng-model="user.Upload" id="file" name="file" accept="image/*" ng-model-instant onchange="angular.element(this).scope().imageUpload(event)" />

                    <!--<input type="file" ng-model="user.imagepath" accept="image/*" />-->
                </label>
                <label class="item item-input item-stacked-label " ng-if="selectImage">
                    <span class="input-label" style="color:#000;margin-top: -50px;">Photo</span>

                    <img class="thumb pull-right" src="{{stepsModel}}">

                    <!--<input type="file" ng-model="user.imagepath" accept="image/*" />-->
                </label>
               
                <button id="registration-button1" style="border-radius:5px 5px 5px 5px;background:#43ae0b  !important" class="button button-energized button-block" ng-disabled="MemberRegistration.$invalid"  ng-click="submit(rg)">Submit</button>

            </div>
        </form>
      
        <style>
            .thumb {
                border: 1px solid #e85177;
                box-shadow: 0px 0px 5px #808080;
                width: 60px;
                height: 60px;
            }

            .disabled {
                color: #ccc !important;
            }
        </style>
    </ion-content>
</ion-view>